/* font-family: 'Hachi Maru Pop', cursive; */

* {
  box-sizing: inherit;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background: #FFDFDE;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}