/* font-family: 'Hachi Maru Pop', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
  box-sizing: inherit;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background: #f5f5f5;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}